$def with(status='False')

<div class="form-addasset">
  <div class="form-addasset-title">New Asset Record</div>
  <div class="form-body">
    <form class="newasset" method="POST" action="./addasset">
  <table>
  <tr> <th><label for="logic_name">Logic Name</label></th><td><input type="text" class="input1" name="logic_name" /></td></tr>
  <tr> <th><label for="device_type">Device Name</label></th><td><input type="text" class="input1" name="device_type" /></td></tr>
  <tr> <th><label for="serial_number">SN</label></th><td><input type="text" class="input1" name="serial_number" /></td></tr>
  <tr> <th><label for="hardware_info">Hardware Info</label></th><td><input type="text" class="input1" name="hardware_info" /></td></tr>
  <tr> <th><label for="layout">Layout</label></th><td><input type="text" class="input1" name="layout" /></td></tr>
  <tr> <th><label for="status">Status</label></th><td><input type="text" class="input1" name="status" /></td></tr>
  <tr> <th><label for="history">History</label></th><td><input type="textaera" class="input1" name="history" /></td></tr>
</table>
  <input class="new_asset" type="SUBMIT" value="GO" />

</form>
</div>
</div>
