$def with(entries,status=False)

<script type="text/javascript" src="./static/js/table_style.js"></script>
<script type="text/javascript" src="./static/js/edit.js"></script>
<div id="adddiv"></div>
<div class="table-component">
<div class="table-main-container">
  <div class="table-title">
    <div class="table-title-header">
      <div class="table-title-text">Host List</div>
      <div class="table-title-toolbar">
        <span class="table-toobar-item-icon"></span>
        $if status:
        <span class="table-toobar-item-text"><a id="a_host" onclick="new_form('host')" href="#">Add</a></span>
      </div>
      </div>
    </div>

<div class="table-body">
    <table class="show_table" id='host_table'>
    <tr>
      <th width="10%" id="hostname" type='text'>hostname</th>
      <th width="10%" id="eth0">eth0</th>
      <th id='eth0_vlan'>eth0_vlan</th>
      <th id="eth1">eth1</th>
      <th id='eth1_vlan'>eth1_vlan</th>
      <th id="gateway">gateway</th>
      <th id="os">OS</th>
      <th width="15%" id="project">project</th>
      <th id="dmz">DMZ</a></th>
      <th id="datacenter">Data_Center</th>
  $if status:
      <th id="th_edit">EDIT</th>
    </tr> 

$for entry in entries:
  <tr class="edit_tr" id='row$entry.id'>
        <td class="edit_td" id="td_hostname_$entry.id"><span id="hostname_$entry.id" class='text'>$entry.hostname</span>
          <input size="12px" disabled='disabled' class="editbox" id="submit_hostname_$entry.id"></input>
        </td>
        <td class="edit_td" id="td_eth0_$entry.id"><span id="eth0_$entry.id" class='text'>$entry.eth0</span>
          <input size="12px" class="editbox" id="submit_eth0_$entry.id"></input>
        </td>
        <td class='edit_td' id="td_eth0_vlan_$entry.id"><span id="eth0_vlan_$entry.id" class='text'>$entry.eth0_vlan</span>
         <input size="12px" class="editbox" id="submit_eth0_vlan_$entry.id"></input>
        </td>
        <td class="edit_td" id="td_eth1_$entry.id"><span id="eth1_$entry.id" class='text'>$entry.eth1</span>
          <input size="12px" class="editbox" id="submit_eth1_$entry.id"></input>
        </td>
        <td class='edit_td' id="td_eth1_vlan_$entry.id"><span id="eth1_vlan_$entry.id" class='text'>$entry.eth1_vlan</span>
         <input size="12px" class="editbox" id="submit_eth1_vlan_$entry.id"></input>
        </td>
        <td class="edit_td" id="td_gateway_$entry.id"><span id="gateway_$entry.id" class='text'>$entry.gateway</span>
          <input size="12px" class="editbox" id="submit_gateway_$entry.id"></input>
        </td>
        <td class="edit_td" id="td_os_$entry.id"><span id="os_$entry.id" class='text'>$entry.os</span>
          <input size="12px" class="editbox" id="submit_os_$entry.id"></input>
        </td>
        <td class="edit_td" id="td_project_$entry.id"><span id="project_$entry.id" class='text'>$entry.project</span>
          <input class="editbox" id="submit_project_$entry.id"></input>
        </td>
        <td class="edit_td" id="td_dmz_$entry.id"><span id="dmz_$entry.id" class='text'>$entry.dmz</span>
          <input size="12px" class="editbox" id="submit_dmz_$entry.id"></input>
        </td>
        <td class="edit_td" id="td_datacenter_$entry.id"><span id="datacenter_$entry.id" class='text'>$entry.datacenter</span>
          <input size="12px" class="editbox" id="submit_datacenter_$entry.id"></input>
        </td>
        $if status:
            <td id="edit_$entry.id"><a class='text' href="#" id="button_edit_$entry.id" onclick="edit('$entry.id');">Edit</a>&nbsp;
              <a class='text' href="#" id="button_del_$entry.id" onclick="old_delete_entry('$entry.id','./delete_entry','./hostinfo?tpl=no');return false;">Delete</a>
              <a class='editbox' href="#" id="btn_save_$entry.id" onclick="post_data('$entry.id','./save','./hostinfo?tpl=no')">OK</a>&nbsp;             
              <a class="editbox" href="#" id="btn_cel_$entry.id">Cancel</a>
            </td>
  </tr>                                                                                                                                    
</table></div>
 </div>
</div>
